<%inherit file="base.html" />
<script src="/static/js/reports/LatestIssuesReport.js"></script>
<script>
	$(function(){
		var Reports = Reports || {};
		Reports.latestIssues = new LatestIssuesReport();
		Reports.latestIssues.init();
	});
</script>
<style>
	.wanted{
		color:#955;
		background-color:#FBB;
		font-weight: bolder;
	}
	
	.downloaded{
		background-color:#BFB;
		color:#060;
		font-weight: bold;	
	}
</style>
<div id="missing-issues-container" style="margin:0px 5px auto;width:99%">
	<div style="font-size: 14pt;margin: 10px;">
		Latest issues count: <span class="wanted" data-bind="text: latestCount" style="margin:2px; padding:3px;"> </span>
	</div>
	<table class="search-table ui-corner-all">
		<thead>
			<tr class="ui-widget-header ws-table-header">
				<th class="ui-corner-tl" >Title</th>
				<th>Issue #</th>
				<th class="ui-corner-tr">Publish Date</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: issues">
			<tr data-bind="css: {wanted: status == 1, downloaded: status == 8 } ">
				<td data-bind="text: series_title"> </td>
				<td data-bind="text: issue_number"> </td>
				<td data-bind="text: publish_date"> </td>
			</tr>
		</tbody>
		<tfoot>
			<tr class="ui-widget-header ws-table-header">
				<th class="ui-corner-bl" >Title</th>
				<th>Issue #</th>
				<th class="ui-corner-tr">Publish Date</th>
			</tr>
		</tfoot>
	</table>
</div>
