<%inherit file="base.html" />

<link href="/static/css/collection.css" type="text/css" rel="stylesheet" />
<script src="/static/js/collection.js" type="text/javascript"></script>
<script type="text/javascript" >
	$(function() {
		Collection.IssueTypes = {
			NORMAL : 1,
			ANNUAL : 2,
			KING_SIZE : 4,
			GIANT_SIZE : 8,
			SPECIAL : 16
		};
		Collection.viewModel = new Collection.CollectionPage('${apiKey}');
		$("#digitalCollectionTabs").tabs();
	});

</script>
<div >
	
    <div id="pageView">
    	<div class="ui-widget-header" style="width:600px;margin-bottom:3px;padding:2px 0px 2px 0px">
    		<input type="checkbox" data-bind="checked: showRegular" id="chxDisplayRegular" /> Display Regular Series
			<input type="checkbox" style="margin-left:40px;" data-bind="checked: showMini" id="chxDisplayMini" /> Display Mini Series
            <input type="checkbox" style="margin-left:40px;" data-bind="checked: showOneShot" id="chxDisplayOneshot" /> Display One-Shots
		</div>
        <div data-bind="foreach: menuitem" class="collection-menu-container " id="scroller" >
            <button class="collection-menu-button ui-state-default" data-bind="text: label, click: $parent.menuClick,attr: {id: 'menu_item_' + id}"></button>
        </div>
        <div data-bind="text: displayTitle" class="ui-widget-header" style="float:left;margin:3px;padding:2px;font-weight:bold;font-size:18pt;"></div>
    </div>
    <div id="digitalCollectionTabs" class="issues-container" >
        <ul>
            <li>
                <a href="#issueTab" >Issues</a>
            </li>
            <li>
                <a href="#annualTab">Annuals</a>
            </li>
            <li>
                <a href="#kingTab" >King / Giant Size</a>
            </li>
            <li>
                <a href="#specialTab">Specials</a>
            </li>
            <li>
                <a href="#infoTab" >Series Info</a>
            </li>
        </ul>
        <div id="issueTab">
            <div id="issueView">
                <!-- ko if: issues().length > 0 -->
                <div data-bind="foreach: issues" class="ui-helper-clearfix inner-tab">

                    <div class='issue  ui-helper-clearfix ui-corner-all'>
                        <div class="issue-image-container" >
                            <a data-bind="click: $root.displaySummary" href="#">
                                <!-- ko if: icon_url -->
                                <img data-bind="attr: {'src': icon_url }" />
                                <!-- /ko -->
                                <!-- ko if: !icon_url -->
                                <img data-bind="attr: {'src': '/collection/thumb?Id=' + id }" />
                                <!-- /ko -->
                                </a>
                        </div>
                        <div>
                            <div data-bind="text: title"></div>
                            <div>
                                Issue #:&nbsp;<span data-bind="text: issueNumber"> </span>
                            </div>
                        </div>
                        <div class="ui-helper-clearfix read-container">
                            <input type="checkbox" data-bind=" checked: isRead,click: $root.toggleRead" />
                            Read
                        </div>
                        <div>
                            <button class="ui-state-default ui-corner-all" data-bind="click: $root.downloadFile">
                                Download
                            </button>
                        </div>
                    </div>

                </div>
                <div class="issue-pager ui-helper-clearfix" data-bind="foreach: pager">
                    <div class="pager-button issue-pager-button ui-state-default" data-bind="text: label, click: $parent.selectPage, attr: {id: 'issue_pager_' + $data.label}" ></div>
                </div>
                <div class="collection-totals alert alert-info">
                    Series Issues: <span data-bind="text: issueCount"></span>
                </div>
                <div class="collection-totals alert alert-info">
                    Issues In Collection: <span data-bind="text: inCollection"></span>
                </div>
                <!-- /ko -->
                <!-- ko if: issues().length < 1 -->
                There are no issues yet... perhaps build your pull list?
                <!-- /ko -->
            </div>
        </div>
        <div id="annualTab">
            <div id="annualView" >
                <div data-bind="foreach: issues" class="ui-helper-clearfix inner-tab" >

                    <div class='issue ui-widget-content ui-helper-clearfix'>
                        <div class="issue-image-container" >
                            <a data-bind="click: $root.displaySummary" href="#"><img data-bind="attr: {'src': '/collection/thumb?Id=' + id }" /></a>
                        </div>
                        <div>
                            <div data-bind="text: title"></div>
                            <div>
                                Issue #:&nbsp;<span data-bind="text: issueNumber"> </span>
                            </div>
                        </div>
                        <div style="float:left;padding:3px;" class="ui-helper-clearfix">
                            <input type="checkbox" data-bind=" checked: isRead,click: $root.toggleRead" style="margin:3px;" />
                            Read
                        </div>
                        <div style="float:right" >
                            <button class="ui-state-default" data-bind="click: $root.downloadFile">
                                Download
                            </button>
                        </div>
                    </div>

                </div>
                <div class="issue-pager ui-helper-clearfix" data-bind="foreach: pager">
                    <div class="pager-button annual-pager-button ui-state-default" data-bind="text: label, click: $parent.selectPage, attr: {id: 'annual_pager_' + $data.label}" ></div>
                </div>
                <div class="collection-totals alert alert-info">
                    Series Issues: <span data-bind="text: issueCount"></span>
                </div>
            </div>
        </div>
        <div id="kingTab">
            <div id="kingView">
                <div data-bind="foreach: issues" class="ui-helper-clearfix inner-tab" >

                    <div class='issue ui-widget-content ui-helper-clearfix'>
                        <div class="issue-image-container" >
                            <a data-bind="click: $root.displaySummary" href="#"><img data-bind="attr: {'src': '/collection/thumb?Id=' + id }" /></a>
                        </div>
                        <div>
                            <div data-bind="text: title"></div>
                            <div>
                                Issue #:&nbsp;<span data-bind="text: issueNumber"> </span>
                            </div>
                        </div>
                        <div style="float:left;padding:3px;" class="ui-helper-clearfix">
                            <input type="checkbox" data-bind=" checked: isRead,click: $root.toggleRead" style="margin:3px;" />
                            Read
                        </div>
                        <div style="float:right" >
                            <button class="ui-state-default" data-bind="click: $root.downloadFile">
                                Download
                            </button>
                        </div>
                    </div>

                </div>
                <div class="issue-pager ui-helper-clearfix" data-bind="foreach: pager">
                    <div class="pager-button king-pager-button ui-state-default" data-bind="text: label, click: $parent.selectPage, attr: {id: 'king_pager_' + $data.label}" ></div>
                </div>
                <div class="collection-totals alert alert-info">
                    Series Issues: <span data-bind="text: issueCount"></span>
                </div>
            </div>
        </div>
        <div id="specialTab">
            <div id="specialView">
                <div data-bind="foreach: issues" class="ui-helper-clearfix inner-tab" >

                    <div class='issue ui-widget-content ui-helper-clearfix'>
                        <div class="issue-image-container" >
                            <a data-bind="click: $root.displaySummary" href="#"><img data-bind="attr: {'src': '/collection/thumb?Id=' + id }" /></a>
                        </div>
                        <div>
                            <div data-bind="text: title"></div>
                            <div>
                                Issue #:&nbsp;<span data-bind="text: issueNumber"> </span>
                            </div>
                        </div>
                        <div style="float:left;padding:3px;" class="ui-helper-clearfix">
                            <input type="checkbox" data-bind=" checked: isRead,click: $root.toggleRead" style="margin:3px;" />
                            Read
                        </div>
                        <div style="float:right" >
                            <button class="ui-state-default" data-bind="click: $root.downloadFile">
                                Download
                            </button>
                        </div>
                    </div>

                </div>
                <div class="issue-pager ui-helper-clearfix" data-bind="foreach: pager">
                    <div class="pager-button special-pager-button ui-state-default" data-bind="text: label, click: $parent.selectPage, attr: {id: 'special_pager_' + $data.label}" ></div>
                </div>
                <div class="collection-totals alert alert-info">
                    Series Issues: <span data-bind="text: issueCount"></span>
                </div>
            </div>
        </div>
        <div id="infoTab">
            <div id="infoView">
                <!-- ko if: !isMapped()  -->
                This series is not yet mapped to your pull list. 
                <button id="btnMapDialog" class="ui-state-default ws-button ui-corner-all" data-bind="click: showDialog">Map It</button>
                <!-- /ko -->
                <!-- ko if: isMapped() == true  -->
                
                <div id="seriesImage" class="ui-helper-clearfix" style="float:left;margin-right:15px;">
                	<img data-bind="attr: {src: imageurl}" style="width:300px;" alt="Series Image" />
                </div> 
				<div style="margin-left:5px;" class="ui-helper-clearfix" id="seriesDescr" data-bind="html: seriestext">
					
				</div>              
				<div style="float:right">
				    <button class="ui-corner-all ui-state-default ws-button" data-bind="click: showEditMetadata" >Edit Metadata</button>
				</div>
                <!-- /ko -->
                
                
            </div>
        </div>
    </div>

</div>
