<script type="text/javascript" src="/static/js/mapping.js" ></script>
<script type="text/javascript">
	$(function() {
		Subs.viewModel = new DigitallyAvailableViewModel('${apiKey}');
		Subs.viewModel.init("mappingView");

		$("#alertCloser").click(function() {
			$("#alert-container").hide('blind', {
				direction : "vertical"
			});
		});
	});

</script>

<style type="text/css">
	.search-dialog {
		width: 50%;
		height: 600px;
		overflow: scroll;
	}

	.mini-series {
		color: #00AB00;
	}
	.annual {
		color: #006699;
	}

</style>
<div id="mappingView">
    <div class=" ui-helper-hidden ui-corner-all ui-helper-clearfix" id="alert-container" style="width:600px;margin:6px;border:solid 1px #009800;vertical-align:middle">
        <div style="float:right;padding:8px; margin:4px;" class="ui-state-default ui-corner-all">
            <span class="ui-icon ui-icon-check" id="alertCloser"></span>
        </div>

        <span id="alert-text"></span>
    </div>
    <div class="ui-widget-content ui-corner-all" style="width:400px;">

        <div class="ui-widget-header ui-corner-top ws-widget-header">
            Title Search
        </div>
        <div style="margin:5px;">
            <input type="text" id="txtQuery" class="search-query ui-corner-bl" style="width:290px;padding:6px;margin-right:0px;"/>
            <button id="btnSearch" class="ui-state-default ui-corner-br ws-button" style="margin-left:0px;" data-bind="click: searchTitles" >
                Search

            </button>
            <div>
                Total Titles found: <span id="spnNumRows" data-bind="text: numQueryResults"> </span>
            </div>
        </div>
    </div>

    <div id="results">
        <div class="ui-helper-clearfix">
            <table class='ui-corner-all search-table'>
                <thead>
                    <tr class="ui-widget-header ws-table-header" >
                        <th class="ui-corner-tl">Title</th>
                        <th>Publisher</th>
                        <th>Start Year</th>
                        <th>Number of issues</th>
                        <th>Thumbnail</th>
                        <th class="ui-corner-tr"> Add To List</th>
                    </tr>
                </thead>

                <!-- ko if: titles().length == 0 -->
                <tbody >
                    <tr>
                        <td colspan="6" style="padding:10px;"> There are no titles to display.</td>
                    </tr>
                </tbody>
                <!-- /ko -->

                <!-- ko if: titles().length > 0 -->
                <tbody data-bind="foreach: titles">
                    <tr data-bind="css: { 'mini-series': name.indexOf(':') != -1, 'row-odd': $index() % 2 == 0, 'row-even': $index() % 2 != 0}" >
                        <td data-bind="text:name"></td>
                        <td data-bind="text:publisher.name"></td>
                        <td data-bind="text:start_year"></td>
                        <td data-bind="text:count_of_issues"></td>
                        <td >
                        <div style="width:80%;margin:0px auto"><img data-bind="click: $parent.showCover,attr: {src: image.icon_url }" alt="Click for summary of title" height="40px" style="cursor:pointer;"/>

                        </div></td>
                        <td style="vertical-align: middle"><!-- ko if: (name.indexOf('Annual') == -1 && name.indexOf('Special') == -1) -->
                        <button class="ui-state-default ui-corner-all" style="padding:5px;" data-bind="click: $parent.addTitleSub">
                            Map Series
                        </button><!-- /ko --></td>

                    </tr>
                </tbody>
                <!-- /ko -->

            </table>
        </div>
        <div data-bind="foreach: pager" class="ui-helper-clearfix">
            <div style="float:left;padding:3px; margin:2px " data-bind="click: $parent.pageTitles, text: text, css: {'ui-state-active': selected == true }" class="ui-state-default pager-button"></div>
        </div>

    </div>

</div>