<%inherit file="base.html" />

<%block name="header">
<script>
	
</script>
<script type="text/javascript" src="/static/js/FeedEk.js"></script>
<script type="text/javascript" src="/static/js/home.js" ></script>

</%block>

<div id="available-tab" style="float:left;margin-top:5px">
	<div class="ui-widget-header ui-corner-all ws-widget-header ">
		Tweets
	</div>
	<a class="twitter-timeline" href="https://twitter.com/Roninbv/comic-creators" data-widget-id="257281032691257345" style="float:left;">Tweets from @Roninbv/comic-creators</a>
</div>
<div style="float:left;margin:5px;">
	<div>
		<div class="ui-widget-header ui-corner-all ws-widget-header">
			Previews World News
		</div>
		<div id="pwupcoming" class="newsfeed ui-corner-all"></div>
	</div>
	<div>
		<div class="ui-widget-header ui-corner-all ws-widget-header ">
			CBR News
		</div>
		<div id="cbrnews"  class="newsfeed ui-corner-all">

		</div>
	</div>
</div>

