<%inherit file="base.html" />

<style>
	.skipped{
		background-color:#99BBFF;
		color:#559;
	}

	.ignored{
		color:#DCDCDC;
		background-color: #888;
	}

	.downloaded{
		background-color:#BFB;
		color:#060;

	}

	.wanted{
		color:#955;
		background-color:#FBB;
	}

	.checkbox-field{
		text-align: center; /* center checkbox horizontally */
    	vertical-align: middle; /* center checkbox vertically */
	}

	.search-table td{
		padding:3px;
	}



	h3{
		margin:5px;
	}

</style>
<script>
	$(function(){
		$(".masterCheck").change(checkAll);
		populateSeriesInfo()
	})

	function checkAll(){
		$("input:checkbox").attr('checked', $(this).is(':checked'));
	}

	function populateSeriesInfo(){
		var url = 'http://api.comicvine.com/volume/4050-'+ ${issues[0]["cv_id"]} +'/?format=jsonp&json_callback=?';
		var params = {
			api_key: "21bd63c504a1023da5665835be7c17dacd02cd90",
			field_list: "id,image,name,description,publisher"
		};
		$.get(url,params, function(data){
			$("#seriesImage").attr('src', data.results.image.thumb_url);
			$("#seriesDescription").html(data.results.description);
		}, 'json');
	}
</script>
<span style="margin:3px;font-weight: bold;">Back to <a href="/subscription/digital">Pull List</a></span>
<div class="issue_info_container  ui-widget-content ui-corner-all" style="height:240px;width:99%;margin:2px auto;;overflow-y:auto;">
	<div class="ui-widget-header ws-widget-header ui-corner-all" >${issues[0]["series_title"]}</div>
	<div id="seriesContent"  class="ui-helper-clearfix"  >

		<div style="margin:15px;padding:3px;background-color:#FFFFFF;float:left;">
			<img  src="#" id="seriesImage"/>
		</div>
		<div  id="seriesDescription"  >

		</div>
	</div>
</div>



<div style="margin:25px 0px 3px 10px;">
	Change all selected issues to <select  id="statusSelector">
		<option value="1">Skipped</option>
		<option value="2" selected="selected">Wanted</option>
		<option value="4">Ignored</option>
		<option value="8">Downloaded</option>
	</select>
	<button class="">Go</button>
</div>
<div class="ui-helper-clearfix" style="margin:0px 5px auto;width:99%">
<table class="search-table ui-corner-all" style="font-weight: bold;">
	<tr class="ui-widget-header ws-table-header">
		<th class="ui-corner-tl"  style="width:40px;"><input type="checkbox" class="masterCheck" /></th>
		<th style="width:30px;">#</th>
		<th style="width:500px;">Title</th>
		<th style="width:80px;">Month</th>
		<th style="width:80px;">Year</th>
		<th >File</th>
		<th class="ui-corner-tr" style="width:82px;">Status</th>
	</tr>

%for issue in issues:
	<%
	import calendar
	from datetime import datetime
	if isinstance(issue["publish_date"], str):
		pubdate = datetime.strptime(issue["publish_date"], '%Y-%m-%d')
	else:
		pubdate = issue["publish_date"]

	month_name = calendar.month_name[pubdate.month]
	pub_year = pubdate.year
	if issue["status"] == 8:
		statclass = "downloaded"
	elif issue["status"] == 4:
		statclass="ignored"
	elif issue["status"] == 2:
		statclass="wanted"
	else:
		statclass="skipped"

	if issue['title'] is not None:
		issue['title'] = issue["title"].decode('utf-8')
	else:
		issue["title"] = 'Unknown/None'
		%>


	<tr class="${statclass}" >
		<td class="checkbox-field">
			<input type="checkbox" style="" />
		</td>
		<td class="number-field">
			${issue["issue_number"]}
		</td>

		<td>

			${issue["title"]}
		</td>
		<td class="number-field">
			${month_name}
		</td>
		<td class="number-field">
			${pub_year}
		</td>
		<td>
			${issue["url"]}
		</td>
		<td>
			${statclass.capitalize()}
		</td>
	</tr>
%endfor

<tr class="ui-widget-header ws-table-header">
		<th class="ui-corner-bl"><input type="checkbox"  class="masterCheck"/></th>
		<th>#</th>
		<th>Title</th>
		<th>Month</th>
		<th>Year</th>
		<th>File</th>
		<th class="ui-corner-br">Status</th>
	</tr>
</table>
</div>
