<%inherit file="base.html" />

<%block name="header">
<script type="text/javascript" src="/static/js/subscriptions.js" ></script>
<script type="text/javascript">
	$(function() {
		Subs.viewModel = new DigitalSubscriptionViewModel('${api}');
		Subs.viewModel.init();

		$("#digitalPullTabs").tabs();

		$("#alertCloser").click(function() {
			$("#alert-container").hide('blind', {
				direction : "vertical"
			});
		})
	});

</script>

<style type="text/css">
	.search-dialog {
		width: 50%;
		height: 600px;
		overflow: scroll;
	}

	.mini-series {
		color: #00AB00;
	}
	.annual {
		color: #006699;
	}

</style>

</%block>
<div id="digitalPullTabs">
	<ul>
		<li>
			<a href="#currentPullView">Digital Pull List</a>
		</li>
		<li>
			<a href="#titleSearchView">Add Titles</a>
		</li>
	</ul>
	<div id="currentPullView" style="height:700px;overflow-y: auto"  >
		<table class='ui-corner-all search-table'>
			<thead>
				<tr class="ui-widget-header ws-table-header">
					<th class="ui-corner-tl">Publisher</th>
					<th>Title</th>
					<th>Thumbnail</th>
					<th class="ui-corner-tr">Delete</th>
				</tr>
			</thead>
			<!-- ko if: subscribedTitles().length == 0 -->
			<tbody >
				<tr>
					<td colspan="6" style="padding:10px;"> There are no titles to display.</td>
				</tr>
			</tbody>
			<!-- /ko -->

			<!-- ko if: subscribedTitles().length > 0 -->
			<tbody data-bind="foreach: subscribedTitles">

				<tr data-bind="css: { 'mini-series': title.indexOf(':') != -1, 'row-odd': $index() % 2 == 0, 'row-even': $index() % 2 != 0}">
					<td data-bind="text:publisher"> </td>
					<td data-bind="text:title"> </td>
					<td >
					<div style="width:20%;margin:0px auto">
						<a data-bind='attr: {href: "/subscription/detail?_id=" + id}' ><img data-bind="click: $parent.showCover,attr: {src: image_url }" alt="Click for summary of title" height="80px" style="cursor:pointer;"/></a>
					</div></td>
					<td style="vertical-align: middle">
					<div style="width:39%;margin:0px auto">
						<button class="ui-state-default ui-corner-all ws-button" data-bind="click: $parent.deleteTitle">
							Delete Title
						</button>
					</div></td>

				</tr>
			</tbody>
			<!-- /ko -->
		</table>
		<!--div data-bind="foreach: pager">
		<div style="float:left;padding:3px; margin:2px " data-bind="click: $parent.pageTitles, text: text, css: {'ui-state-active': selected == true }" class="ui-state-default pager-button"></div>
		</div -->
	</div>

	<div id="titleSearchView" class="tab-pane">
		<div class=" ui-helper-hidden ui-corner-all ui-helper-clearfix" id="alert-container" style="width:600px;margin:6px;border:solid 1px #009800;vertical-align:middle">
			<div style="float:right;padding:8px; margin:4px;" class="ui-state-default ui-corner-all">
				<span class="ui-icon ui-icon-check" id="alertCloser"></span>
			</div>

			<span id="alert-text"></span>
		</div>
		<div class="ui-widget-content ui-corner-all" style="width:400px;">

			<div class="ui-widget-header ui-corner-top ws-widget-header">
				Title Search
			</div>
			<div style="margin:5px;">
				<input type="text" id="txtQuery" class="search-query ui-corner-bl" style="width:290px;padding:6px;margin-right:0px;"/>
				<button id="btnSearch" class="ui-state-default ui-corner-br ws-button" style="margin-left:0px;" data-bind="click: searchTitles" >
					Search

				</button>
				<div>
					Total Titles found: <span id="spnNumRows" data-bind="text: numQueryResults"> </span>
				</div>
			</div>
		</div>

		<div id="results">
			<div class="ui-helper-clearfix">
				<table class='ui-corner-all search-table'>
					<thead>
						<tr class="ui-widget-header ws-table-header" >
							<th class="ui-corner-tl">Title</th>
							<th>Publisher</th>
							<th>Start Year</th>
							<th>Number of issues</th>
							<th>Thumbnail</th>
							<th class="ui-corner-tr"> Add To List</th>
						</tr>
					</thead>

					<!-- ko if: titles().length == 0 -->
					<tbody >
						<tr>
							<td colspan="6" style="padding:10px;"> There are no titles to display.</td>
						</tr>
					</tbody>
					<!-- /ko -->

					<!-- ko if: titles().length > 0 -->
					<tbody data-bind="foreach: titles">
						<tr data-bind="css: { 'mini-series': name.indexOf(':') != -1, 'row-odd': $index() % 2 == 0, 'row-even': $index() % 2 != 0}" >
							<td data-bind="text:name"></td>
							<td data-bind="text:publisher.name"></td>
							<td data-bind="text:start_year"></td>
							<td data-bind="text:count_of_issues"></td>
							<td >
							<div style="width:80%;margin:0px auto"><img data-bind="click: $parent.showCover,attr: {src: image.icon_url }" alt="Click for summary of title" height="40px" style="cursor:pointer;"/>

							</div></td>
							<td style="vertical-align: middle"><!-- ko if: (name.indexOf('Annual') == -1 && name.indexOf('Special') == -1) -->
							<button class="ui-state-default ui-corner-all" style="padding:5px;" data-bind="click: $parent.addTitleSub">
								Add to List
							</button><!-- /ko --></td>

						</tr>
					</tbody>
					<!-- /ko -->

				</table>
			</div>
			<div data-bind="foreach: pager" class="ui-helper-clearfix">
				<div style="float:left;padding:3px; margin:2px " data-bind="click: $parent.pageTitles, text: text, css: {'ui-state-active': selected == true }" class="ui-state-default pager-button"></div>
			</div>

		</div>
	</div>
</div>