<%inherit file="base.html" />

<%block name="header">
<script type="text/javascript" src="/scripts/js/subscriptions.js" ></script>
<script type="text/javascript">

$(function() {
Subs.viewModel = new DigitalSubscriptionViewModel(${api});
Subs.viewModel.init("titleSearchView");
$("#digitalPullTabs").tab();
});

</script>

<style type="text/css">
	.search-dialog {
		width: 50%;
		height: 600px;
		overflow: scroll;
	}
</style>

</%block>
<div id="digitalPullTabs" class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#currentPullView" data-toggle="tab">Printed Pull List</a></li>
		<li><a href="#titleSearchView" data-toggle="tab">Add Titles</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="currentPullView"  >
			this is a tab.
		</div>

		<div id="titleSearchView" class="tab-pane">
		<div class="ui-widget-content ui-corner-all" style="width:400px;">

			<div class="ui-widget-header">
				Title Search
			</div>
			<div style="margin:5px;">
				<input type="text" id="txtQuery" class="search-query"/>
				<button id="btnSearch" class="btn btn-inverse" data-bind="click: searchTitles" >
					Search

				</button>
				<div>
					Total Titles found: <span id="spnNumRows" data-bind="text: numQueryResults"> </span>
				</div>
			</div>
		</div>

		<div id="results">
			<table class='table table-striped'>
				<thead>
					<tr>
						<th>Title</th>
						<th>Start Year</th>
						<th>Number of issues</th>
						<th>Thumbnail</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: titles">
					<tr>
						<td data-bind="text:name"></td>
						<td data-bind="text:start_year"></td>
						<td data-bind="text:count_of_issues"></td>
						<td > <img data-bind="attr: {src: image.small_url}"</td>
						<td style="vertical-align: middle">
						<button class="btn btn-primary">
							Add to List
						</button></td>
					</tr>
				</tbody>

		</div>
		</div>
	</div>
</div>