<%inherit file="base.html" />

<%block name="header">
<script type="text/javascript" src="/static/js/config.js" ></script>
<script type="text/javascript">
	$(function() {
		Config.dbSettings = new DatabaseSettingsVm();
		Config.dbSettings.init("database-settings");
	}); 
</script>
</%block>
<div>
	<fieldset id="database-settings" class="settings-page">
		<legend>
			Database Settings
		</legend>
		<label > <span>Database Options</span>
			<select id="ddlDataStore" style="width:120px;" data-bind="value: dataStore" >
			    <option value="1">Sqlite</option>
				<option value="2">MongoDB</option>
				<option value="3">MySQL</option>
			</select>
		</label>
		<label data-bind="visible: dataStore() != 1"> <span>Database Name:</span>
			<input type="text" data-bind="value: dbName" id="txtDbName"  />
		</label>
		<label> <span>Database <span data-bind="text: hostType"> </span></span>
			<input type="text" data-bind="value: dbHost" id="txtDbHost" />
		</label>
		<label data-bind="visible: (dataStore() != 1)"> <span>Database Port:</span>
			<input type="text" data-bind="value: dbPort" id="txtDbPort"  />
		</label>
		<label data-bind="visible: (dataStore() != 1)"> <span>Database User Name:</span>
			<input type="text" data-bind="value: dbUser" id="txtDbUser" />
		</label>
		<label data-bind="visible: (dataStore() != 1)"> <span>Database Password</span>
			<input type="text" data-bind="value: dbPass" id="txtDbPass" />
		</label>
		<div style="float:right;">
			<button class="btn btn-info" data-bind="click: saveSettings" >
				
				Save
			</button>
			<button class="btn btn-danger" data-bind="click: clearDatabase">
				Clear Database
			</button>

		</div>
	</fieldset>

</div>
