<%inherit file="base.html" />

<%block name="header">
<script type="text/javascript" src="/static/js/config.js" ></script>
<script type="text/javascript">
	$(function() {
		Config.generalSettings = new GeneralSettingsVm();
		Config.generalSettings.init("general-settings");

		Config.dbSettings = new DatabaseSettingsVm();
		Config.dbSettings.init("database-settings");

		Config.unSettings = new UsenetVM();
		Config.unSettings.init("usenet");

		$("#tabContainer").tabs();

		$(".ws-button").hover(function() {
			$(this).addClass("ui-state-hover")
		}, function() {
			$(this).removeClass("ui-state-hover");
		})
	}); 
</script>
</%block>
<div id="tabContainer">
	<ul>
		<li>
			<a href="#generalSettings">General</a>
		</li>
		<li>
			<a href="#databaseSettings">Database</a>
		</li>
		<li>
			<a href="#usenetSettings">Usenet</a>
		</li>

	</ul>
	<div id="generalSettings" class="ui-helper-clearfix" >
		<div id="general-settings" class="settings-page">

			<label> <span style="width:300px;">Relative paths in relation to:</span> <span data-bind="text: currentDir" ></span> </label>
			<label> <span>Digital Comics Collection Path:</span>
				<input type="text" data-bind="value: collectionPath" id="txtCollectionPath" />
			</label>
			<label > <span style="width: 305px;">Re-Scan Collection Every </span>
				<select id="ddlScanFreq" style="width:60px;" data-bind="value: rescanFrequency" >
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="24">24</option>
					<option value="30">30</option>
					<option value="48">48</option>
					<option value="60">60</option>
					<option value="90">90</option>
				</select>
				<select id="ddlScanDenom" style="width:100px;" data-bind="value: rescanDenomination">
					<option value="1">Minutes</option>
					<option value="2">Hours</option>
					<option value="4">Days</option>
				</select> </label>
			<div>
				<input type="checkbox" data-bind="checked: serviceActive"  />
				Cataloging service active
			</div>
			<div style="float:right;">
				<button class="ui-state-default ws-button ui-corner-all" data-bind="click: saveSettings" >

					Save
				</button>
				<button class="ui-state-default ws-button ui-corner-all" >
					Restart
				</button>

			</div>
		</div>
	</div>

	<div id="databaseSettings" class="ui-helper-clearfix">
		<div id="database-settings" class="settings-page" style="width:600;">
			<div >
				<span>Database Options:</span>
				<select id="ddlDataStore" style="width:120px;" data-bind="value: dataStore" >
					<option value="1">Sqlite</option>
					<option value="2">MySQL</option>
				</select>
			</div>
			<div data-bind="visible: dataStore() != 1">
				<span>Database Name:</span>
				<input type="text" data-bind="value: dbName" id="txtDbName"  />
			</div>
			<div>
				<span>Database <span data-bind="text: hostType"></span> </span>
				<input type="text" data-bind="value: dbHost" id="txtDbHost" />
			</div>
			<div data-bind="visible: (dataStore() != 1)">
				<span>Database Port:</span>
				<input type="text" data-bind="value: dbPort" id="txtDbPort"  />
			</div>
			<div data-bind="visible: (dataStore() != 1)">
				<span>Database User Name:</span>
				<input type="text" data-bind="value: dbUser" id="txtDbUser" />
			</div>
			<div data-bind="visible: (dataStore() != 1)">
				<span>Database Password</span>
				<input type="text" data-bind="value: dbPass" id="txtDbPass" />
			</div>
			<div style="float:right;">
				<button class="ui-state-default ws-button ui-corner-all" data-bind="click: saveSettings" >

					Save
				</button>
				<button class="ui-state-default ws-button ui-corner-all" data-bind="click: clearDatabase">
					Clear Database
				</button>

			</div>
		</div>

	</div>
	<div id="usenetSettings">
		<div id="usenet"  style="display:inline-block">
			<div style="width:620px;float:left">
				<h3>Available Groups</h3> 
				<div style="max-height:550px;overflow-x: auto; margin-bottom:3px;">
				<table class="search-table ui-corner-all"style="width:599px;">
					<thead>
						<tr class='ui-widget-header ws-table-header'>
							<td>
							<input type="checkbox"   class="masterCheck"  />
							</td>
							<td> Group </td>
							<td> # Articles </td>
						</tr>
					</thead>
					<!-- ko if: groups().length > 0 -->
					<tbody data-bind="foreach: groups">

						<tr>
							<td>
							<input type="checkbox" class="groupCheck"  data-bind="click: $parent.checkButtonState"  />
							</td>
							<td data-bind="text: group"></td>
							<td data-bind="text: size"></td>
						</tr>
					</tbody>
					<!-- /ko -->

					<!-- ko if: groups().length < 1 -->
					<tbody>

						<tr>
							<td colspan="3">No groups to display.</td>
						</tr>
					</tbody>
					<!-- /ko -->

				</table>
				</div>
				
				<button class="ui-state-default ws-button ui-corner-all" id="loadButton" data-bind="click: getGroups">
					Get Available Groups
				</button>
			</div>
			
			<div style="margin-left:5px;width:620px;float:left">
				<h3>Currently Selected Groups</h3> 
				<div style="max-height:550px;overflow-x: auto; margin-bottom:3px;">
				<table class="search-table ui-corner-all"style="width:599px;">
					<thead>
						<tr class='ui-widget-header ws-table-header'>
							
							<td> Group </td>
							<td> # Articles </td>
							<td>
							 	Remove
							</td>
						</tr>
					</thead>
					<!-- ko if: selectedGroups().length > 0 -->
					<tbody data-bind="foreach: selectedGroups">

						<tr>
							
							<td data-bind="text: group"></td>
							<td data-bind="text: size"></td>
							<td>
							 <button class="ui-state-default ws-button ui-corner-all" data-bind="click: $parent.removeGroup">Remove</button>
							</td>
						</tr>
					</tbody>
					<!-- /ko -->

					<!-- ko if: selectedGroups().length < 1 -->
					<tbody>

						<tr>
							<td colspan="3">No groups to display.</td>
						</tr>
					</tbody>
					<!-- /ko -->

				</table>
				</div>
				<button class="ui-state-default ws-button ui-corner-all"  id="addButton" data-bind="disabled: groupsToSave, click: saveSelectedGroupList">
					Add Selected Groups
				</button>
			</div>
			
		</div>
	</div>
</div>
