.issue {
	float: left;
	padding: 8px;
	margin: 5px;
	height: 249px;
	max-width: 250px;
	zoom: 1;
	min-width: 250px;
	background-color:#232323;
	text-align: center;
}
.issue button {
		margin:3px;
		padding: 5px;
	}

.issue-image-container{
	margin-8px;
}

.issue-image-container img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.issues-container {
	margin-left: 3px;
	float: left;
	width: 1190px;
	padding-left: 3px;
	
}

.collection-menu-container {
	float: left;
	clear: both;
	width: 220px;
	height: 850px;
	overflow: auto;
}

.collection-menu-button {
	width: 100%;
	text-align: left;
	font-weight: normal;
	padding: 5px 3px 5px 8px;
}

.pager-button {
	float: left;
	padding: 8px;
	margin: 0px 0px 0px 4px;
}

.collection-totals {
	display: block;
	padding: 6px;
	margin: 4px;
}

.read-container {
	float: left;
	margin: 3px;
}

@media only screen and (max-width: 1080px) {
	.main-content {
		width: 1012px;
		margin: 0px;
		padding: 1px;
		background-color: #FFFFFF;
	}

	.body-container {
		margin: 0px auto;
		padding: 1px;
		border: 1px solid #000000;
	}

	.issue {
		padding: 6px;
		margin: 3px;
		width: 210px;
		height: 275px;
		zoom: 1;
		text-align: center;
	}

	.issue button {
		padding: 15px;
	}

	.issue-image-container {
		width: 100%;
	}

	.issue-image-container img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.issues-container {
		margin-left: 3px;
		width: 790px;
		padding-left: 8px;
	}

	.collection-menu-container {
		float: left;
		clear: both;
		width: 200px;
		height: 1800px;
		overflow-y: auto;
	}

	.collection-menu-button {
		width: 100%;
		padding: 15px 3px;
		text-align: left;
	}

	.pager-button {
		float: left;
		padding: 6px;
		margin: 0px 0px 0px 4px;
	}

	#menu li a {
		padding: 8px 32px;
		margin: 4px;
	}

	.inner-tab {
		padding: 20px;
	}

	.mobile-hidden {
		display: none !important;
	}
}