


body {
	background-color: #989898;
}

.main-content {
	width: 1500px;
	margin: 4px auto;
	padding: 1px;
	background-color: #FFFFFF;
}

.body-container {
	min-width: 1000px;
	margin: 0px auto;
	padding: 2px;
	border: 1px solid #000000;
}


.ui-menu{
	z-index: 10 !important;
}
.cm-widget {
	margin: 3px;
	padding: 3px;
}

.ws-widget-header {
	margin: 5px;
	padding: 5px 5px 5px 10px;
}

#type-widget {
	width: 300px;
}

.newsfeed {
	width: 1100px;
	padding: 0px 3px 3px 5px;
	background-color: #FFF;
	border: 1px solid #D3CAD7;
	font-size: 10pt;
	margin: 5px 10px 0px 10px;
}

.ItemTitle {
	font-weight: bold;
	margin: 5px 0px 0px 0px;
	padding-top: 3px;
}
.ItemTitle a {
	color: #4EBAFF;
	text-decoration: none
}
.ItemTitle a:hover {
	text-decoration: underline
}
.ItemContent {
	padding: 1px 3px 3px 3px;
	border-bottom: 1px solid #D3CAD7;
	color: #3E3E3E;
}
.ItemDate {
	font-size: 11px;
	color: #AAA;
}

.settings-page {
	width: 800px;
}

.settings-page label > span {
	width: 300px;
	margin:5px;
	float:left;
	display: inline-block;
}

.settings-page label > input {
	margin:5px;
	width: 450px;
}

.settings-page div 
{
	float:left;
	width:600px;
}

.row-odd td{
	background: #DCDCDC;
}

.ws-button
{
	padding:7px 2px;
}

/* tables */

.search-table
{
	border:1px solid white;
	width:100%;
	margin:15px 5px
	
}


.ws-table-header th{
	padding:8px 2px;
}

.row-odd{
	background-color:#010101;
	color:#585858;
}

.row-even{
	background-color:#464646;
	
}



/* menus */

#menu li {
	margin: 3px;
	border: 1px solid #DCDCDC;
	-moz-border-radius: 3px;
}

.ui-menu:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.ui-menu .ui-menu-item {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
}


.number-field{
	text-align: right;
}
