<!DOCTYPE html>
<html>
	<head>
		<title>${title} - Webslinger!</title>
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script >
		<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/static/js/knockout-2.2.0.js"></script>
        
		<link href="/static/css/dark-hive/jquery-ui-1.9.1.custom.css" rel="stylesheet" type="text/css" />
		<link href="/static/images/favicon.ico" rel="icon" />
		<link href="/static/css/site.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript">
			$(function() {
				$("#menu").menu();
			});
		</script>
		<%block name="header" />

	</head>
	<body>
		<div style="width: 100%">
			<div class="ui-corner-all ui-helper-clearfix main-content">
					<div style='margin:12px;padding:0px 0px 6px 6px; font-family:"Comic Sans MS";font-size:28pt;font-weight: bold'>
						Webslinger!
					</div>
					<div style="margin: 5px;" >

						<ul id="menu"  >
							<li class="ui-corner-all">
								<a href="/index" id="btnNewsA">News</a>
							</li>

							<li class="ui-corner-all">
								<a href="/collection/digital">Digital Collection</a>
							</li>
							<!--li class="ui-corner-all">
								<a href="/collection/printed">Print Collection</a>
							</li -->
							<li class="ui-corner-all">
								<a href="/subscription/digital">Digital Pull List</a>
							</li>
							<li class="ui-corner-all">
								<a href="#">Reports</a>
								<ul>
									<a href="/reports/missingIssues">Missing Issues</a>
									<a href="/reports/latestIssues">Latest Issues</a>
								</ul>
							</li>
							<!--li class="ui-corner-all">
								<a href="/subscription/printed" >Print Pull List</a>
							</li -->
							<li class="mobile-hidden ui-corner-all">
								<a href="/config" >Config</a>
							</li>
							
						</ul>

					</div>
				<div class="ui-corner-all ui-helper-clearfix body-container">
					${self.body()}
				</div>
			</div>
		</div>
		<div id="dialog-container">
			<div id="dialog-content">

			</div>
		</div>
	</body>
</html>
